body
{
    margin: 0;
}

header
{
    display: flex;
    background-color: #607D8B;
    font-family: monospace, sans-serif;
    color: white;
}

header #main-items span
{
    margin-left: 1.4em;
    font-size: 1.4em;
}

header nav
{
    display: flex;
}

header nav li
{
    display: block;
    font-size: 1.1em;
    text-align: center;
}

header nav li a
{
	display: block;
	padding: 10px 0 10px 0;
	text-decoration: none;
	color: white;
}

header nav li:hover
{
    background: #455A64;
}

@media (max-width: 599px)
{
    header
    {
        flex-direction: column;
    }
    
    header #main-items
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 5px 10px;
    }
    
    header .hidden
    {
        display: none;
    }
    
    header nav
    {
        flex-direction: column;
    }
    
    header nav li
    {
        border: 1px solid black;
    }
    
    header nav li:nth-of-type(2)
    {
        border-width: 0 1px 0 1px;
    }
    
}

@media (min-width: 600px)
{
    header
    {
        justify-content: space-between;
    }
    
    header #main-items
    {
        flex-grow: 6;
        align-self: center;
    }
    
    header #main-items #expand-nav
    {
        display: none;
    }
    
    header nav
    {
        flex-grow: 1;
        justify-content: flex-end;
    }
    
    header nav li
    {
        flex-grow: 1;
    }
}